<div class="card">
  <div class="card-image">
          <img src="https://raw.githubusercontent.com/ggomaeng/react-native-svg-chicken/master/inspiration.gif">
          <span class="card-title">
            {{input type='text' class="white-text" value=food.name}}
          </span>
  </div>
  <div class="card-content white-text">
    <p>
      Calories: {{input type='number' value=food.servings}}<br>
    </p>
  </div>
  <div class="card-action">
    <a {{action 'deleteFood'}}>Delete</a>
    <a {{action 'updateFood'}}>Update</a>
  </div>
</div>
