<div class="card {{if inShape 'green' 'red'}}">
  <div class="card-image">
    <img src=" {{if inShape '/media/slim.jpg' '/media/fatty.jpg'}}">
    <span class="card-title">Come bien, prro :v</span>
  </div>
</div>
