<div class="card blue darken-2">
  <div class="card-image">
          <img src="https://raw.githubusercontent.com/ggomaeng/react-native-svg-chicken/master/inspiration.gif">
          <span class="card-title">
            {{input type='text' class="white-text" value=product.name}}
          </span>
  </div>
  <div class="card-content white-text">
    <p>
      Calories: {{input class='white-text' type='number' value=product.calories}}<br>
    </p>
  </div>
  <div class="card-action">
    <a {{action 'updateProduct'}}>Update</a>
    <button class="waves-effect waves-light red btn" {{action 'deleteProduct'}}>Delete</button>
  </div>
</div>
