<div class="row">
  <div class="col s10 offset-s1">
    <h3>CRUD Products</h3>
    <a {{action 'createProduct'}} class="waves-effect waves-light btn blue darken-2">Create Product</a>
  </div>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="row">
      {{#each model as |product|}}
          <div class="col s3">
          {{product-card
            product=product
            deleteProduct=(action 'deleteProduct' product)
            updateProduct=(action 'updateProduct' product)
          }}
            </div>
        {{else}}
          <h5>No products registered...</h5>
        {{/each}}
    </div>
  </div>
</div>
